.chat-messages {
  flex: 1;
  overflow-y: scroll;
}

.chat-self {
  flex-direction: column;
  align-items: flex-end;
}

.chat-self .chat-bubble-wrapper {
  flex-direction: row-reverse;
}

.chat-self .chat-bubble {
  margin-right: 0.25rem;
  background-color: #007bff;
  color: white;
}

.chat-others {
  align-items: flex-start;
}

.chat-others .chat-bubble {
  margin-left: 0.25rem;
  background-color: #f1f0f0;
}

.chat-bubble {
  border-radius: 5px;
}

.avatar-spacer {
  width: 30px;
}
